body {
    background-color: white;
}

.wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 20px;
}

.main {
    padding-bottom: 74px;
}

.books {
    padding-top: 105px;
  .wrap {
    display: flex;
    justify-content: space-between;
  }
  .moreBtn {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
    color: #4C3DB2;
    border: 1px solid #4C3DB2;
    margin: 0 auto;
    padding: 18px 62px;
    margin-top: 80px;
  }
}


