.body {
    background-color: white;
}

.wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 20px;
}

.main {
    padding-bottom: 74px;
}



