.header {
    position: sticky;
    padding: 47px 0 40px 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2000;


   .wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .logo a {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #1C2A39;
   }

   .nav {
      .nav__list {
        display: flex;
        .nav__item {
            margin-right: 40px;
            a {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                line-height: 12px;
                text-transform: uppercase;
                color: #5C6A79;
                transition: color ease 0.1s;
            }
            &:hover {
                a {
                    color:  #1C2A39;
                    transition: color ease 0.1s
                }
            }
            &-active {
                a {
                    color: #1C2A39;
                    
                }
            }
        }
      }
   }

.buttons {
    .buttons__list {
        display: flex;
        .buttons__item {
            margin-right: 40px;
        }
        .buttons__cart {
            position: relative;
            z-index: 0;
            svg {
                position: absolute;
                z-index: 1;
                top: 9px;
                left: 6px;
                text {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 12px;
                    text-transform: capitalize;
                }
            }
        }
    }

}

}